/* ================================================================================
  #Box-sizing
================================================================================ */
html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ================================================================================
  #Typography
================================================================================ */
body {
  font-family: "futura-pt", sans-serif;
  color: #fff;
  background-color: #1A1A1A;
}
h1, h2, h3, p { margin: 0; }
h1 { font-size: 5vh;}
h2 { font-size: 4vh;}
h3 { font-size: 2.5vh;}
p { font-size: 3vh;}
h1, h3 { display: inline-block; }


/* ================================================================================
  #Grid
================================================================================ */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ================================================================================
  #Header
================================================================================ */
header {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  border-bottom: 4px solid #353535;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question-counter {
    background-color: #808080;
    height: 100%;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 4px solid #686868;
    h2, h3 { margin: 0; }
    h2 {
      letter-spacing: 2px;
    }
  }
  .title {
    h3 { font-style: italic; }
    h1 { margin-right: 10px; }
  }
}

/* ================================================================================
  #Main
================================================================================ */
.mask{
  width: 100%;
  height: 25%;
  z-index: 10;
  position: absolute;
  overflow: hidden;
  .blurred-background {
    position: relative;
    height: 80vh;
    background-image: url('../img/Restaurant_Back_Dining_Room.jpg');
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 1;
  }
}
.main {
  height: 80vh;
  position: relative;
  background-image: url('../img/Restaurant_Back_Dining_Room.jpg');
  background-size: cover;
  .question {
    width: 100%;
    height: 25%;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,.5);
    padding: 3% 5%;
    p {
      margin: 10px 0;
    }
    .source {
      font-size: 2vh;
      color: white;
      font-style: italic;
    }
    .wrong {
      position: absolute;
      bottom: 0;
      font-weight: 700;
      font-size: 4vh;
    }
  }
}
.expanded-message {
  height: 40% !important;
}
.question-container {
  transition: all .2s ease-out;
}


/* ================================================================================
  #Swatches
================================================================================ */
.swatches {
  height: 80%;
  position: relative;
  top: 20%;
  .continue {
    top: 150%;
    width: 50%;
    height: 15%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    transition: top .2s ease-out;
    transition-delay: .2s;
    p {
      position: absolute;
      font-size: 4vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.continue-button-visible {
  top: 30% !important;
}
.swatch-two { left: 25%; }
.swatch-three { left: 50%; }
.swatch-four { left: 75%; }


.hex {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 3vh;
}


/* ================================================================================
  #Elastic SVGs
================================================================================ */

.box {
  width: 25%;
  height: 30%;
  position: absolute;
  display: inline-block;
  bottom: 0;
  transition: height .2s ease-in-out;
  &:hover {
    height: 35%;
  }
}

.box--collapser {
  -webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
  transition: transform 0.15s, opacity 0.15s, height .2s ease-in-out;
}

.box--expander {
  z-index: 10000;
}

.box--collapser.box--close {
  opacity: 0;
  -webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);
}

.box--expander.box--sizeup {
  width: 100%;
  left: 0 !important;
  height: 45%;
}

.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

/* ================================================================================
  #Table
================================================================================ */
table {
  color: #484848;
  font-size: 3vh;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  tr {
    border-bottom: 1px solid #484848;
    &:first-child {
      border-bottom: 3px solid #000;
    }
    th:first-child {
      text-align: left;
    }
    th:nth-child(2) { 
      width: 10%;
    }
    .question-score {
      text-align: center;
      color: #fff;
    }
    span { color: #808080; }
  }
}


/* ================================================================================
  #Footer
================================================================================ */
footer {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  position: absolute;
  z-index: 99999;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .colophon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      h3 {margin: 0;}
      img { 
        display: inline;
        height: 50%;
        width: auto;
      }
    }
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 700px) {
  .container { width: 100%;}
  header, footer { padding-left: 5px; }
  .question-counter { padding-right: 5px;}
}