/* ================================================================================
  #Box-sizing
================================================================================ */
html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

body:after {
  display: none;
  content: url(../img/1.jpg) url(../img/1_answer.jpg) url(../img/2.jpg) url(../img/2_answer.jpg) url(../img/3.jpg) url(../img/3_answer.jpg) url(../img/4.jpg) url(../img/4_answer.jpg) url(../img/5.jpg) url(../img/5_answer.jpg) url(../img/6.jpg) url(../img/6_answer.jpg) url(../img/7.jpg) url(../img/7_answer.jpg) url(../img/8.jpg) url(../img/8_answer.jpg) url(../img/9.jpg) url(../img/9_answer.jpg) url(../img/10.jpg) url(../img/10_answer.jpg); }

/* ================================================================================
  #Typography
================================================================================ */
body {
  font-family: "futura-pt", sans-serif;
  color: #fff;
  background-color: #1A1A1A; }

h1, h2, h3, p {
  margin: 0; }

h1 {
  font-size: 5vh; }

h2 {
  font-size: 4vh; }

h3 {
  font-size: 2.5vh; }

p {
  font-size: 2.7vh; }

h1, h3 {
  display: inline-block;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #fff; }

/* ================================================================================
  #Grid
================================================================================ */
.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto; }

/* ================================================================================
  #Header
================================================================================ */
header {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  border-bottom: 5px solid #353535; }
  header .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header .question-counter {
    position: relative;
    background-color: #808080;
    height: 100%;
    width: 20%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* border-bottom: 5px solid #686868; */ }
    header .question-counter h2, header .question-counter h3 {
      margin: 0; }
    header .question-counter h2 {
      letter-spacing: 2px;
      font-size: 3vh; }
  header .question-counter:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 5px solid #686868; }
  header .title h3 {
    font-style: italic; }
  header .title h1 {
    margin-right: 6px; }

/* ================================================================================
  #Main
================================================================================ */
.start-button {
  position: absolute;
  width: 50%;
  text-align: center;
  cursor: pointer;
  line-height: 50vh;
  z-index: 999;
  font-size: 7vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.mask {
  width: 100%;
  /* height: 35%; */
  z-index: 99;
  position: absolute;
  overflow: hidden; }
  .mask .blurred-background {
    position: relative;
    height: 80vh;
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 1;
    /* background-position: bottom; */ }

.main {
  height: 80vh;
  position: relative;
  background-size: cover;
  /* background-position: bottom; */ }
  .main.main-splash {
    background-color: #1A1A1A;
    background-image: none !important; }
  .main .question {
    width: 100%;
    /* height: 35%; */
    position: absolute;
    z-index: 9999;
    overflow: hidden; }
    .main .question p {
      /* margin: 8px 0; */
      font-size: 3.5vh; }
    .main .question .source {
      font-size: 2vh;
      line-height: 4vh;
      color: white;
      font-style: italic; }
    .main .question .wrong {
      bottom: 0;
      font-weight: 700;
      font-size: 2.5vh; }

.question-container {
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  top: 0; }

.question-copy-above {
  top: -300px !important; }

.correct-copy {
  top: 0;
  padding: 20px;
  position: relative;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: top .4s ease-in-out;
          transition: top .4s ease-in-out; }

/* ================================================================================
  #Swatches
================================================================================ */
.success-message {
  font-size: 5vh;
  line-height: 7vh; }

.swatches {
  height: 100%;
  position: relative;
  top: 0; }
  .swatches .success {
    position: absolute;
    top: 50%;
    left: 50%; }
  .swatches .continue {
    top: 150%;
    width: 30%;
    height: 10%;
    position: absolute;
    z-index: 99999999;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 3px solid white;
    -webkit-transition: top .4s ease-out;
            transition: top .4s ease-out;
    cursor: pointer; }
    .swatches .continue p {
      position: absolute;
      font-size: 4vh;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.continue-button-visible {
  top: 65% !important; }

.displayed-score {
  display: none;
  font-weight: 500;
  position: absolute;
  z-index: 9999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50%;
  font-size: 10vh;
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

.hex {
  position: absolute;
  z-index: 9999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
  font-size: 3vh;
  -webkit-transition: font-size .4s ease-in-out;
          transition: font-size .4s ease-in-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

/* ================================================================================
  #Elastic SVGs
================================================================================ */
.box {
  width: 25%;
  height: 30%;
  position: absolute;
  display: inline-block;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: height .2s ease-in-out;
          transition: height .2s ease-in-out;
  -webkit-transition: all .4s ease-in-out !important;
          transition: all .4s ease-in-out !important; }

.box-splash {
  left: 50%;
  height: 25vh;
  width: 25vh; }
  .box-splash .swatch-path {
    fill: none;
    stroke: white;
    stroke-width: 8px; }
  .box-splash.swatch-0 {
    bottom: 10vh;
    -webkit-transform: rotate(45deg) translateX(-75%);
        -ms-transform: rotate(45deg) translateX(-75%);
            transform: rotate(45deg) translateX(-75%); }
  .box-splash.swatch-1 {
    bottom: 17vh;
    -webkit-transform: rotate(45deg) translateX(-75%);
        -ms-transform: rotate(45deg) translateX(-75%);
            transform: rotate(45deg) translateX(-75%); }
  .box-splash.swatch-2 {
    bottom: 39vh;
    -webkit-transform: rotate(-45deg) translateX(-75%);
        -ms-transform: rotate(-45deg) translateX(-75%);
            transform: rotate(-45deg) translateX(-75%); }
  .box-splash.swatch-3 {
    bottom: 41vh;
    -webkit-transform: rotate(-45deg) translateX(-75%);
        -ms-transform: rotate(-45deg) translateX(-75%);
            transform: rotate(-45deg) translateX(-75%); }

.box--collapser {
  -webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
  transition: transform 0.15s, opacity 0.15s, height .2s ease-in-out; }

.box--expander path {
  overflow: hidden; }

.box--collapser.box--close {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1); }

.box--expander.box--sizeup {
  width: 100%;
  left: 0 !important;
  height: 80vh !important;
  z-index: 2;
  background-size: cover; }
  .box--expander.box--sizeup svg {
    -webkit-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out; }

.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out; }

.expander-background {
  width: 80%;
  height: 80vh;
  position: fixed;
  left: 10%;
  top: 10%;
  background-size: cover;
  z-index: -1; }

/* ================================================================================
  #Scorecard screen
================================================================================ */
.total-score {
  color: #484848;
  text-align: center; }
  .total-score h2 {
    font-size: 7vh; }
  .total-score h3 {
    font-size: 3vh;
    margin-top: 15px; }

.end-screen {
  display: none; }

.scorecard-footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  position: absolute; }
  .scorecard-footer p {
    font-size: 2vh; }
  .scorecard-footer .made-by {
    width: 75%;
    display: inline-block; }
    .scorecard-footer .made-by .designed-built {
      background-color: #999999;
      display: block; }
    .scorecard-footer .made-by .team {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .scorecard-footer .made-by .myla, .scorecard-footer .made-by .dane, .scorecard-footer .made-by .brandon {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 8vh;
      width: 33%;
      padding: 0 2px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .scorecard-footer .made-by .myla {
      background-color: #EC6A4D; }
    .scorecard-footer .made-by .dane {
      background-color: #D2C255; }
    .scorecard-footer .made-by .brandon {
      background-color: #579AC5; }
  .scorecard-footer .play-again {
    width: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background-color: #686868; }
  .scorecard-footer .share-score {
    width: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background-color: #808080; }

/* ================================================================================
  #Table
================================================================================ */
table {
  color: #484848;
  font-size: 3vh;
  width: 80%;
  height: 60%;
  margin: 0 auto; }
  table tr {
    border-bottom: 1px solid #484848; }
    table tr:first-child {
      border-bottom: 3px solid #000; }
    table tr th:first-child {
      text-align: left; }
    table tr th:nth-child(2) {
      width: 10%; }
    table tr .question-score {
      text-align: center;
      color: #fff; }
    table tr span {
      color: #808080; }

/* ================================================================================
  #Footer
================================================================================ */
footer {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  position: absolute;
  z-index: 999; }
  footer .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .container .colophon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
      footer .container .colophon h3 {
        margin: 0; }
      footer .container .colophon img {
        display: inline;
        height: 40%;
        width: auto; }

/* ================================================================================
  #Loader animation
================================================================================ */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #F75A00;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3DDCF2;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #52FF62;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* ================================================================================
  #Force hardware acceleration
================================================================================ */
.anim-class {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000; }

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 1000px) {
  .box:hover {
    height: 35%; } }

@media only screen and (max-width: 700px) {
  .container {
    width: 100%; }
  header, footer {
    padding-left: 5px; }
  header .question-counter {
    padding-right: 5px;
    width: 30%; }
  .main .question .answer-message p {
    font-size: 3vh; } }
