/* ================================================================================
  #Box-sizing
================================================================================ */
html {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

/* ================================================================================
  #Typography
================================================================================ */
body {
  font-family: "futura-pt", sans-serif;
  color: #fff;
  background-color: #1A1A1A; }

h1, h2, h3, p {
  margin: 0; }

h1 {
  font-size: 5vh; }

h2 {
  font-size: 4vh; }

h3 {
  font-size: 2.5vh; }

p {
  font-size: 2.7vh; }

h1, h3 {
  display: inline-block;
  font-weight: 300; }

/* ================================================================================
  #Grid
================================================================================ */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

/* ================================================================================
  #Header
================================================================================ */
header {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  border-bottom: 4px solid #353535; }
  header .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header .question-counter {
    background-color: #808080;
    height: 100%;
    width: 20%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 4px solid #686868; }
    header .question-counter h2, header .question-counter h3 {
      margin: 0; }
    header .question-counter h2 {
      letter-spacing: 2px; }
  header .title h3 {
    font-style: italic; }
  header .title h1 {
    margin-right: 10px; }

/* ================================================================================
  #Main
================================================================================ */
.start-button {
  position: absolute;
  z-index: 99999999;
  font-size: 7vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.mask {
  width: 100%;
  /* height: 35%; */
  z-index: 10000;
  position: absolute;
  overflow: hidden; }
  .mask .blurred-background {
    position: relative;
    height: 80vh;
    background-image: url('../img/Restaurant_Back_Dining_Room.jpg');
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 1;
    -webkit-transition: background-image 1.6s ease-in-out !important;
            transition: background-image 1.6s ease-in-out !important; }

.main {
  height: 80vh;
  position: relative;
  background-image: url('../img/Restaurant_Back_Dining_Room.jpg');
  background-size: cover; }
  .main.main-splash {
    background-color: #1A1A1A;
    background-image: none; }
  .main .question {
    width: 100%;
    /* height: 35%; */
    position: absolute;
    z-index: 999999;
    overflow: hidden; }
    .main .question p {
      /* margin: 8px 0; */
      font-size: 3.5vh; }
    .main .question .source {
      font-size: 2vh;
      color: white;
      font-style: italic; }
    .main .question .wrong {
      bottom: 0;
      font-weight: 700;
      font-size: 4vh; }

.question-container {
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  top: 0; }

.question-copy-above {
  top: -300px !important; }

.correct-copy {
  top: 0;
  padding: 30px;
  position: relative;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: top .4s ease-in-out;
          transition: top .4s ease-in-out; }

/* ================================================================================
  #Swatches
================================================================================ */
.swatches {
  height: 100%;
  position: relative;
  top: 0; }
  .swatches .success {
    position: absolute;
    top: 50%;
    left: 50%; }
  .swatches .continue {
    top: 150%;
    width: 25%;
    height: 10%;
    position: absolute;
    z-index: 99999999;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 3px solid white;
    -webkit-transition: top .4s ease-out;
            transition: top .4s ease-out;
    /* transition-delay: .2s; */ }
    .swatches .continue p {
      position: absolute;
      font-size: 4vh;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.continue-button-visible {
  top: 65% !important; }

.hex {
  position: absolute;
  z-index: 9999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
  font-size: 3vh; }

/* ================================================================================
  #Elastic SVGs
================================================================================ */
.box {
  width: 25%;
  height: 30%;
  position: absolute;
  display: inline-block;
  bottom: 0;
  -webkit-transition: height .2s ease-in-out;
          transition: height .2s ease-in-out;
  -webkit-transition: all .4s ease-in-out !important;
          transition: all .4s ease-in-out !important; }

.box-splash {
  left: 45%;
  height: 25vh;
  width: 25vh; }
  .box-splash .swatch-path {
    fill: none;
    stroke: white;
    stroke-width: 8px; }
  .box-splash.swatch-0 {
    bottom: 19vh;
    -webkit-transform: rotate(45deg) translateX(-57%);
        -ms-transform: rotate(45deg) translateX(-57%);
            transform: rotate(45deg) translateX(-57%); }
  .box-splash.swatch-1 {
    bottom: 21vh;
    -webkit-transform: rotate(45deg) translateX(-57%);
        -ms-transform: rotate(45deg) translateX(-57%);
            transform: rotate(45deg) translateX(-57%); }
  .box-splash.swatch-2 {
    bottom: 35vh;
    -webkit-transform: rotate(-45deg) translateX(-57%);
        -ms-transform: rotate(-45deg) translateX(-57%);
            transform: rotate(-45deg) translateX(-57%); }
  .box-splash.swatch-3 {
    bottom: 37vh;
    -webkit-transform: rotate(-45deg) translateX(-57%);
        -ms-transform: rotate(-45deg) translateX(-57%);
            transform: rotate(-45deg) translateX(-57%); }

.box--collapser {
  -webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
  transition: transform 0.15s, opacity 0.15s, height .2s ease-in-out; }

.box--expander path {
  overflow: hidden; }

.box--collapser.box--close {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1); }

.box--expander.box--sizeup {
  width: 100%;
  left: 0 !important;
  height: 80vh !important;
  z-index: 2;
  /* background-position: bottom; */
  background-size: cover; }
  .box--expander.box--sizeup svg {
    /* opacity: 0; */
    -webkit-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out; }

.morph-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out; }

.expander-background {
  width: 80%;
  height: 80vh;
  position: fixed;
  left: 10%;
  top: 10%;
  background-size: cover;
  z-index: -1; }

/* ================================================================================
  #Scorecard screen
================================================================================ */
.total-score {
  color: #484848;
  text-align: center; }
  .total-score h2 {
    font-size: 6vh; }

.end-screen {
  display: none; }

/* ================================================================================
  #Table
================================================================================ */
table {
  color: #484848;
  font-size: 3vh;
  width: 85%;
  height: 70%;
  margin: 0 auto; }
  table tr {
    border-bottom: 1px solid #484848; }
    table tr:first-child {
      border-bottom: 3px solid #000; }
    table tr th:first-child {
      text-align: left; }
    table tr th:nth-child(2) {
      width: 10%; }
    table tr .question-score {
      text-align: center;
      color: #fff; }
    table tr span {
      color: #808080; }

/* ================================================================================
  #Footer
================================================================================ */
footer {
  width: 100%;
  height: 10vh;
  background-color: #484848;
  position: absolute;
  z-index: 99999; }
  footer .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .container .colophon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
      footer .container .colophon h3 {
        margin: 0; }
      footer .container .colophon img {
        display: inline;
        height: 40%;
        width: auto; }

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 1000px) {
  .box:hover {
    height: 35%; } }

@media only screen and (max-width: 700px) {
  .container {
    width: 100%; }
  header, footer {
    padding-left: 5px; }
  header .question-counter {
    padding-right: 5px;
    width: 30%; } }
